<% include ./partials/header %>
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">All Users</h1>
    <p class="lead">Below is a list of all user information. </p>
    <hr class="my-4">
    <a class="btn btn-outline-success" href="/logout">Logout</a>
  </div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Date Added</th>
      </tr>
    </thead>
    <tbody>
      <% // if data in database iterate through and display information in table %>
      <% if(data.length){
       for(var i = 0;i < data.length;i++) { %>
        <tr>
          <td><%=(i+1)%></td>
          <td><%=data[i].name%></td>
          <td><%=data[i].email%></td>
          <td><%=data[i].password%></td>
          <% if(!data[i].created){ %>
            <td></td>
          <% } else { %>
            <td><%=data[i].created %></td>
          <% } %>
        </tr>
      <% } } else{ %>
      <% // if no data  %>
       <tr>
          <td>No Data</td>
       </tr>
      <% } %>
    </tbody>
  </table>
</div>

<% include ./partials/footer %>
